@font-face {
    font-family: avenir;
    src: url(../fonts/AvenirNextLTPro-Regular.otf);
}
@font-face {
    font-family: avenirb;
    src: url(../fonts/AvenirNextLTPro-Bold.otf);
}
@font-face{
    font-family: Montserrat;
    src: url(../fonts/static/Montserrat-Bold.ttf) ;
}
@font-face{
    font-family: Monregu;
    src: url(../fonts/static/Montserrat-Regular.ttf) ;
}
@font-face {
    font-family: inter;
    src: url(../fonts/Inter/static/Inter-Bold.ttf);
}
/* nav bar with logo */
*{
    box-sizing: border-box ;
    margin: 0;
}
body{
    overflow-x: hidden;
}
.main-container{
    overflow: auto;
    padding: 0 4%;
    margin: 0;
    padding-bottom: 12px;
    
}
nav{
    float: right;
}
.nav-bar{
    margin-top: 35px;
}
.logo-bar img{
    float: left;
    margin-top: 15px;
}
.logo{
    width: 150px;
    height: 70px;
}
ul li{
    display: inline-block;
    padding: 0 39px;
    font-size: 17px;
    font-family: "avenirb";
}
ul li a{
    text-decoration: none;
    color: #0023ad;
}
.main-btn{
    display: inline-block;
    padding: 5px 5px;
    float: right;
    margin-top: 32px;
}
.btn{
    background-color: #39d446;
    border-radius: 10px 10px;
    padding: 12px 24px;
    margin-left: 10px;
    font-size: 15px;
    color: #fff;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
}
/* login form with bg banner */
.banner{
    background-image: url(../images/banner.png);
    height: 750px;
    width: 100%;
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #0023ad;
    flex-direction: column;
    padding: 0px;
    margin: 0;
    overflow: auto;
}
.topleft{
    position: absolute;
    top: 8px;
    left: 16px;
    margin-top: 8%;
    padding: 0 3%;
    font-size: 34px;
    line-height: 1.3em;
    font-family: "Montserrat",sans-serif;
}
::selection{
    background-color: #000;
    color: white;
}
.top-left{
    position: absolute;
    top: 8px;
    left: 16px;
    margin-top: 18%;
    padding: 0 3%;
    line-height: 1.2em;
    color: #000;
    font-size: 20px;
    font-family: "Montserrat",sans-serif;
    opacity: 0.3;
}
.row{
    display: flex;
}
.column{
    flex: 33.33%;
    padding: 7%;
}
.img1{
    position: absolute;
    top: 8px;
    left: 11%;
    margin-top: 27%;
    /* padding: 0 10%; */
}
#img1{
    position: absolute;
    top: 15px;
    left: 10%;
    margin-top: 34%;
    /* padding: 0 9.5%; */
    font-size: 21px;
    font-family: "Montserrat",sans-serif;
}
.v1{
  border-left: 1px solid #0023ad;
  height: 161px;
  position: absolute;
  left: 30%;
  margin-left: -7%;
  margin-top: 27%;
  top: 0;
}
.img2{
    position: absolute;
    top: 8px;
    left: 29.6%;
    margin-top: 27%;
    /* padding: 0 30%; */
}
#img2{
    position: absolute;
    top: 15px;
    left: 26%;
    margin-top: 34%;
    /* padding: 0 27%; */
    font-family: "Montserrat",sans-serif ;
    font-size: 21px;
}
.v2{
  border-left: 1px solid #0023ad;
  height: 161px;
  position: absolute;
  left: 49%;
  margin-left: -7%;
  margin-top: 27%;
  top: 0;
}
.img3{
    position: absolute;
    top: 7px;
    left: 48.5%;
    margin-top: 27%;
    /* padding: 0 49%; */
}
#img3{
    position: absolute;
    top: 15px;
    left: 45.5%;
    margin-top: 34%;
    /* padding: 0 44%; */
    font-family: "Montserrat",sans-serif;
    font-size: 21px;
    display: ruby;
}
.bottomleft p{
    position: absolute;
    top: 380px;
    left: 16px;
    margin-top: 18%;
    padding: 0 3%;
    line-height: 1.2em;
    color: #000;
    font-size: 18px;
    font-family:sans-serif;
    opacity: 0.3;
}
.reachourbtn a{
    position: absolute;
    top: 460px;
    left: 16px;
    margin-top: 18%;
    /* padding: 0 3%; */
    line-height: 1.2em;
    color: white;
    font-size: 15px;
    font-family: "avenir",sans-serif;
    font-weight: bold;
    text-decoration: none;
    background-color: #0023ad;
    border-radius: 10px 10px;
    padding: 12px 24px;
    margin-left: 3%;
}
.mainform{
    display: flex;
    position: absolute;
    background-color: #ffffff69;
    top: 10px;
    right: 1%;
    margin-top: 15%;
    padding: 2% 1%;
}
.loginform{
    position: relative;
    background-color: #0023ad;
    top: 10px;
    right: 0%;
    margin-top: -5%;
    padding: 3% 2%;
}
.title p{
    display: flex;
    justify-content: center;
    font-size: 24px;
    color: #fff;
    font-family: "inter", sans-serif;
}
hr{
    color: #fff;
}
.ns{
    position: relative;
    margin-top: 10%;
    display: flex;
    flex-wrap: wrap;
    padding: -8px 0%;
}
.name{
    position: absolute;
    top: 0%;
    right: 86%;
    margin-top: -7%;
    color: #fff;
    font-family: "inter", sans-serif;
    font-weight: normal;
    font-size: 12px;
    font-weight: 500;
}
.fname{
    position: absolute;
    color: #57647e;
    top: 20%;
    right: 80%;
    margin-top: 7%;
    font-family: "inter", sans-serif;
    font-size: 10px;
    user-select: none;
}
.sname{
    position: relative;
    color: #57647e;
    top: 8%;
    right: -51%;
    margin-top: 1.3%;
    font-family: "inter", sans-serif;
    font-size: 10px;
    user-select: none;
}
.ns input{
    margin-left: 2%;
    border-radius: 5px;
    height: 30px;
}
.myemail{
    margin-top: 12%;
    display: flex;
}
.e{
    position: absolute;
    top: 50px;
    right: 84%;
    margin-top: 30%;
    color: #fff;
    font-family: "inter", sans-serif;
    font-size: 12px;
    font-weight: normal;
    font-weight: 500;
}
.myemail input{
    margin-left: 2%;
    border-radius: 5px;
    height: 30px;
    width: 100%;
}
.exa{
    position: absolute;
    color: #57647e;
    font-family: "inter", sans-serif;
    font-size: 10px;
    /* top: 0%; */
    margin-top: 10%;
    right: 61%;
    /* padding-right: 1%;  */
}
.tel{
    margin-top: 15%;
    display: flex;
}
.p{
    position: absolute;
    top: 63px;
    right: 70%;
    margin-top: 49%;
    color: #fff;
    font-family: "inter", sans-serif;
    font-size: 12px;
    font-weight: normal;
    font-weight: 500;
}
.tel input{
    margin-left: 2%;
    border-radius: 5px;
    height: 30px;
    width: 100%;
}
 .teln{
    position: absolute;
    color: #57647e;
    font-family: "inter", sans-serif;
    font-size: 10px;
    /* top: 0%; */
    margin-top: 10%;
    right: 47%;
    /* padding-right: 1%;   */
}
.query{
    margin-top: 15%;
    padding:0% 3%;
}
.q{
    position: absolute;
    /* top: 0%; */
    right: 81%;
    margin-top: -5%;
    color: #fff;
    font-family: "inter", sans-serif;
    font-weight: normal;
    font-size: 12px;
    font-weight: 500;
}
#query{
    display: flex;
    flex-direction: column;
    height: auto;
    width: 102%;
}
textarea{
    resize: vertical;
}
.book-btn{
    margin-top: 8%;
    margin-bottom: 4%;
}
.book-btn li{
    list-style: none;
}
.book-btn a{
    color: #fff;
    padding: 3% 28%;
    background-color: #39d446;
    border-radius: 5px 5px;
    text-decoration: none;
    font-family: "inter", sans-serif;
    font-size: 12px;
    margin-left: 6%;
}
.book-btn:hover{
    filter: brightness(0.9);
}
/* connection with patients */
.container{
    box-sizing: border-box;
    background-color: #0023ad;
}
.incontainer{
    display: flex;
    margin-right: auto;
    margin-left: auto;
    position: relative;
}
.contimg1{
    padding: 0 7%;
    padding-right: 2%;
    margin-top: 2%;
    margin-bottom: 1%;
}
#contimg1{
    padding: 5px 12px;
    margin-top: 2.9%;
    margin-bottom: 1%;
    color: #fff;
    font: 16px "Monregu";
    left: px;
}
.contimg2{
    padding: 0 10%;
    padding-right: 2%;
    margin-top: 2%;
    margin-bottom: 1%;
}
#contimg2{
    padding: 5px 12px;
    margin-top: 2.9%;
    margin-bottom: 1%;
    color: #fff;
    font: 16px "Monregu";
    left: px;
}
.contimg3{
    padding: 0 7%;
    padding-right: 2%;
    margin-top: 2%;
    margin-bottom: 1%;
}
#contimg3{
    padding: 5px 12px;
    margin-top: 2.9%;
    margin-bottom: 1%;
    color: #fff;
    font: 16px "Monregu";
    left: px;
}
.ourpleft{
    position: absolute;
    margin-top: 4%;
    padding: 0 7%;
    font-size: 28px;
    color: #0023ad;
    line-height: 1.3em;
    font-family: "Montserrat",sans-serif;
}
.ourp-left{
    position: absolute;
    margin-top: 10%;
    padding: 0 7%;
    font-size: 16px;
    font-weight: normal;
    color: #000;
    line-height: 1.3em;
    font-family: "Monregu",sans-serif;
}
.lh{
    padding-top: 7%
}
.ourpimg{
   position: relative;
   float: right;
   margin-top: 6%;
   margin-right: 5%;
   box-sizing: border-box;
}
.ourpimg img{
    width: 474.94px;
    height: 316.77px;
    border-radius: 7px;
    box-shadow: -21px 23px 0px 6px #0224ae;
}
.bgimg{
    background-image: url(/images/Mask-Group-7.png);
    margin-top: 35%;
    padding-bottom: 6%;
    background-repeat: no-repeat;
}
.center{
    text-align: center;
    padding-top: 8%;
    font-size: 25px;
    font-family: "Montserrat",sans-serif;
    color: #fff;
}
.centerlh{
    text-align: center;
    line-height: 2;
    color: #fff;
    font-size: 32px;
    font-family: "Montserrat",sans-serif;
}
.click-here{
    text-align: center;
    font-size: 18px;
    font-family: "Monregu",sans-serif;
    font-weight: 400;
    line-height: 3;
}
.click-here a{
    text-decoration: none;
    color: #fff;
    background-color: #39d446;
    padding: 12px 24px;
    border-radius: 8px;
}
.typ{
    font-size: 36px;
    font-family:  "Montserrat",sans-serif;
    padding: 4% 5%;
    text-align: center;
    color: #0023ad;
}
.typcontainer{
    box-sizing: border-box;
    display: flex;
    margin: 0% 5%;
}
.typcon{
    padding: 5% 5%;
    padding-right: 30px;
    padding-bottom: 0px;
    box-sizing: border-box;
    box-shadow: 11px 15px 8px -8px #dcdee5;
    border-radius: 12px;
}
.typimg1{
    width: 48px;
    height: 49.5px;
    padding: 0% 0%;
}
.typimg{
    padding: 0% 12%;
    margin-top: -8%;
    color: #0023ad;
    font: 16px "Montserrat",sans-serif;
}
.typcontent{
    font: 16px "Monregu",sans-serif;
    margin: 7% -1%;
    margin-top: 0%;
    padding-top: 10%;

}
.typcon2{
    padding: 5% 10%;
    padding-right: 30px;
    padding-left: 4%;
    margin-left: 10%;
    padding-bottom: 0px;
    box-sizing: border-box;
    box-shadow: 11px 15px 8px -8px #dcdee5;
    border-radius: 12px;
}
.typimg2{
    padding: 0% 12%;
    margin-top: -10%;
    color: #0023ad;
    font: 16px "Montserrat",sans-serif;
}
.typcontainer2{
    box-sizing: border-box;
    display: flex;
    margin: 5% 5%;
}
.typcon4{
    padding-top: 2%;
    padding-right: 70px;
    padding-left: 4%;
    margin-left: 10%;
    margin-top: 3%;
    padding-bottom: 0px;
    box-sizing: border-box;
    box-shadow: 11px 15px 8px -8px #dcdee5;
    border-radius: 12px;
}
.hws{
    position: absolute;
    margin-top: 7%;
    padding: 0 7%;
    font-size: 28px;
    color: #6580f0;
    line-height: 1.3em;
    font-family: "Montserrat",sans-serif;
}
.hws-left{
    position: absolute;
    margin-top: 15%;
    padding: 0 7%;
    font-size: 16px;
    font-weight: normal;
    color: #000;
    line-height: 1.3em;
    font-family: "Monregu",sans-serif;
}
.lh a{
    text-decoration: none;
    color: #10069f;
}
.lh a:hover{
    color: #39d446;
}
.conv{
    margin-top: 45%;
    text-align: center;
    font-size: 36px;
    color: #0224ae;
    font-family: "Montserrat",sans-serif;
    line-height: 1em;
}
.conve{
    text-align: center;
    font-size: 16px;
    font-family: "Monregu",sans-serif;
    line-height: 1em;
    margin-top: 2%;
}
.flip-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 5%;
    padding: 0 7%;
  }
  
  .flip-card {
    background-color: transparent;
    width: calc(25% - 20px);
    margin-bottom: 40px;
    perspective: 1000px;
    transform-style: preserve-3d;
    transition: transform 0.6s;
}

.flip-card-inner {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 100%;
    transition: transform 0.6s;
    transform-style: preserve-3d;
}

.flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back {
    position: absolute;
    width: 100%;
    height: 90%;
    backface-visibility: hidden;
    transform-style: preserve-3d;
    padding: 0 7%;
}

.flip-card-front {
    border-radius: 12px;
    background-color: #0224ae;
    color: white;
    z-index: 1;
    transform: rotateY(0deg); 
    transition: transform 0.6s;
  }
  .flip-card-front img{
    background-color: #fff;
    margin-top: 20%;
    margin-left: 40%;
    transform: translateZ(50px);
  }
  .front-text{
    font-family: "Montserrat",sans-serif;
    margin-top: 20%;
    padding: 0 0%;
    font-size: 18px;
    text-align: center;
    transform: translateZ(50px);
  }
  .flip-card-back {
    border-radius: 12px;
    background-color: #0224ae;
    color: white;
    transform: rotateY(180deg);
    transition: transform 0.6s;
  }
  .back-text{
    font-family: "Monregu",sans-serif;
    font-weight: normal;
    font-size: 13px;
    padding: 0 2%;
    margin-top: 25%;
    text-align: center;
    transform: translateZ(50px);
  }
  .back-text-2{
    font-family: "Monregu",sans-serif;
    font-weight: normal;
    font-size: 13px;
    padding: 0 2%;
    margin-top: 30%;
    text-align: center;
    transform: translateZ(50px);
  }
  .back-text-3{
    font-family: "Monregu",sans-serif;
    font-weight: normal;
    font-size: 13px;
    padding: 0 2%;
    margin-top: 30%;
    text-align: center;
    transform: translateZ(50px);
  }
  .back-text-4{
    font-family: "Monregu",sans-serif;
    font-weight: normal;
    font-size: 13px;
    padding: 0 2%;
    margin-top: 30%;
    text-align: center;
    transform: translateZ(50px);
  }
  
  